__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg
.venv/
venv/
.reports/
.orchestratord/
/.idea/
.env
.env.*
!.env.example
/lib/
/bin/
